#container {
	background-position:37px 230px;
}
.content{
	top:240px;
	height:705px;
	width:800px;

		}
.photos {
	position:relative;
	top:38px;
	left:44px;
	margin:0px;
	height:709px;
	margin-bottom:48px;
	width:990px;
	overflow:hidden;
	}

#main_navigation li{
	padding:0 17px;
}

#main_navigation li,
#subnav li {
	float:left;
	margin:0;
	
	}
#subnav li {
	padding:0 10px;

}	
	
	
#main_navigation a,
#subnav a{
	background-color:transparent;
	background-position:0 0;
	display:block;
	height:17px;
	line-height:7.2em;
	margin:0;
	overflow:hidden;
	padding:0;
}	
